@import './partials/pleiades';
@import './partials/ursa_maior';
@import './partials/ursa_minor';
@import './partials/astronaut';
@import './partials/random_stars1';
@import './partials/random_stars2';

body {
    background-color: black;
}

div, a {
    color: gray;
    font-size: 10px;
}

